*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: sans-serif;
}

.navbar{
    display: flex;
    width: 100%;
    position: fixed;
    background: rgb(22, 117, 9);
    color: white;
    height: 50px;
    align-items: center;
}
.navbar .logo{
    margin: 20px;
}

.nav-options{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    color: white;
    cursor: pointer;
    font-family: rubik; 
     position: fixed;
     right: 0vh;
     height: 91vh;
     top: 6vh;
     background-color:rgb(22, 117, 9);
     /* display: block; */
     padding-top: 30px;
     align-items: center;
     width: 30%;
     transition: transform 0.3s ease-in;
     z-index: 1;
     -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navLinks{
    height: 80%;
    width: 100%;
    display: flex;   
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-align: center;
}

.navLinks P{
    font-size: 1.2em;
    display: block;
    height: 88px;
    padding: 30px;
    width: 100%;
}

.navLinks p:hover{
    background-color:rgb(32, 128, 20);
}


/* .nav-options ul{
    list-style: none;
    height: 100%;
    width: 100%;
} */

.nav-options p svg{
    /* transform: rotate(-90deg); */
    fill: white;
    height: 12px;
    width: 12px;
    margin-left: 12px;
    transition: all ease-in 200ms;
}

.burger{
    position: fixed;
    left: 90%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    border-radius: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.burger div{
    height: 3px;
    width: 25px;
    margin: 3px;
    transition: all 0.3s ease;
}

/* Home */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100%;
}

.home h1{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(179, 179, 179);
    height: 200px;
    width: 400px;
    border: 5px dashed rgb(179, 179, 179);
}
.delete-button:hover{
    color:rgb(192, 12, 12);
    transition: all ease-in 100ms;
    height: 28px;
    width: 28px;
}
.update-button:hover{
    color:rgb(22, 117, 9);
    transition: all ease-in 100ms;
    height: 28px;
    width: 28px;
}
/* Add entry */

.add-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    background: rgba(0, 0, 0, 0.521);
    z-index: 3;
}

.add-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    padding: 30px;
    height: 400px;
    width: 400px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.39) 0px 5px 15px;
}

.add-form svg{
    position: relative;
    left:58vh;
    top:-28vh;
    fill: white;
}

.add-form-submit{
    width: 160px;
    height: 40px;
    margin: 0 auto;
    background:  rgb(22, 117, 9);
    border-radius: 30px;
    color: white;
    border: 0px;
    transition: all ease-in 200ms;
    font-size: 18px;
}

.add-form-submit:hover{
    width: 180px;
}

.add-form input[type="text"]{
    height: 30px;
    border-radius: 5px;
    border: 1px solid;

}

.add-form input[type="text"]::selection{
    color: rgb(22, 117, 9);
}

/* Delete entry */

.delete-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    padding: 30px;
    height: 400px;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.39) 0px 5px 15px;
}

.del-btns{
    display: flex;
    justify-content: space-around;
}

.del-btns button{
    height: 50px;
    width: 120px;
    border:none;
    border-radius: 10px;
}

#btn1{
    background: rgb(22, 117, 9);
    color: white;
    transition: all ease-in 100ms;

}

#btn2{
    border: 1px solid rgb(22, 117, 9);
    transition: all ease-in 100ms;
}

#btn2:hover{
    background: rgb(192, 12, 12);
    border: none;
    color: white;
}

#btn1:hover{
    background: rgb(27, 148, 12);
}

/* weekly form */

.weekly-form{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    /* height: 500px; */
    margin: 0px 40px;
    justify-content: space-around;
}

.weekly-form-line{
    height: 2px;
    background: rgba(0, 0, 0, 0.315);
    width: 85%;
    display: flex;
    margin: 0 auto;
}

.weekly-form button{
    width: 160px;
    height: 40px;
    /* margin: 0 auto; */
    background:  rgb(22, 117, 9);
    border-radius: 30px;
    color: white;
    border: 0px;
    transition: all ease-in 200ms;
    font-size: 18px; 
}

.weekly-form select{
    margin: 10px;
    height: 30px;
    width: 60px;
    border-radius: 8px;
    text-align: center;
}

@media screen and (max-width:510px) {
    .burger{
        left: 85%;
    }  
    .nav-options{
        width: 50%;
    }  

    .add-form form {
        height: 300px;
        width: 300px;
        font-size: 12px; 
    }

    .add-form svg{
        position: relative;
        left:40vh;
        top:-28vh;
        fill: white;
    }
}

@media screen and (max-width:400px){
    .home h1{
        width: 340px;
    }
}